torch
torchaudio
torchvision
ultralytics
lap>=0.5.12
scipy==1.15.3
scikit-image==0.24.0
scikit-learn
rich
PyAutoGUI
protobuf==3.20.2
pandas
matplotlib
rdp
tqdm
opencv-contrib-python
sv_ttk
tk
tkinter-tooltip
darkdetect
pywinstyles
Pillow==9.3.0
pygetwindow
pywin32
playsound==1.2.2
win11toast
pygithub
zbl
fastapi
pyperclip
uvicorn[standard] 